*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: radial-gradient(gray, black);
}

.container{ 

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.text{
    text-align: center;
    font-size: 40px;
    color: rgb(29, 28, 28);
    font-weight: 600;
    text-shadow: 2px 0 rgb(58, 57, 57);
}